[user]
	name = Kevin Batdorf
	email = kbat82@gmail.com

[core]
	autocrlf = false
	# pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/kevin/.gitignore_global
	ignorecase = false
	# pager = delta

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[fetch]
	prune = true

[push]
	autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    # colorMoved = default
    tool = difftastic
    external = difft

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[alias]
    dft = difftool
    dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
[http]
	postBuffer = 524288000
